In [1]:
import numpy as np
import pandas as pd

In [17]:
myproduct=pd.read_csv("C:\\Users\\Dell\\python\\class\\product.csv")
myproduct.head()

,ID,Year_of_Birth,Education_Level,Marital_Status,Disposable_Income,No_of_Kids_in_home,No_of_Teen_in_home,Date_Customer,Recency,Discounted_Purchases,...,Amount_on_SweetProducts,Amount_on_GoldProds,WebVisitsMonth,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Cmp1Accepted,Cmp2Accepted,Any_Complain,Response
0,ID_4A9AR6FQ,1955,Graduation,Divorced,77504.4,1,1,22-06-2014,56,2,...,6,20,3,0,0,0,0,0,0,0
1,ID_X28T3VEK,1958,Graduation,Together,56784.0,0,1,01-08-2013,17,6,...,15,19,6,0,0,0,0,0,0,0
2,ID_AWXARH57,1962,Graduation,Single,103714.8,0,0,21-11-2013,17,0,...,18,37,2,0,0,0,1,0,0,1
3,ID_FQVZHE81,1979,2n Cycle,Single,46311.6,1,0,13-09-2013,49,3,...,24,24,8,0,0,0,0,0,0,0
4,ID_QVLWGPRN,1959,Graduation,Married,87486.0,0,0,21-01-2014,59,1,...,165,203,1,0,0,0,1,0,0,0

In [18]:
year=np.array(myproduct["Year_of_Birth"])
edu=np.array(myproduct["Education_Level"])
sta=np.array(myproduct["Marital_Status"])
kid=np.array(myproduct["No_of_Kids_in_home"])
teen=np.array(myproduct["No_of_Teen_in_home"])

In [19]:
myproduct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1568 entries, 0 to 1567
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       1568 non-null   object
 1   Year_of_Birth            1568 non-null   int64
 2   Education_Level          1568 non-null   object
 3   Marital_Status           1568 non-null   object
 4   Disposable_Income        1552 non-null   float64
 5   No_of_Kids_in_home       1568 non-null   int64
 6   No_of_Teen_in_home       1568 non-null   int64
 7   Date_Customer            1568 non-null   object
 8   Recency                  1568 non-null   int64
 9   Discounted_Purchases     1568 non-null   int64
 10  WebPurchases             1568 non-null   int64
 11  CatalogPurchases         1568 non-null   int64
 12  StorePurchases           1568 non-null   int64
 13  Amount_on_Wines          1568 non-null   int64
 14  Amount_on_Fruits         1568 non-null   int64
 15  Amount_on_MeatProducts   1568 non-null   int64
 16  Amount_on_FishProducts   1568 non-null   int64
 17  Amount_on_SweetProducts  1568 non-null   int64
 18  Amount_on_GoldProds      1568 non-null   int64
 19  WebVisitsMonth           1568 non-null   int64
 20  Cmp3Accepted             1568 non-null   int64
 21  Cmp4Accepted             1568 non-null   int64
 22  Cmp5Accepted             1568 non-null   int64
 23  Cmp1Accepted             1568 non-null   int64
 24  Cmp2Accepted             1568 non-null   int64
 25  Any_Complain             1568 non-null   int64
 26  Response                 1568 non-null   int64
dtypes: float64(1), int64(22), object(4)
memory usage: 306.3+ KB

In [20]:
myproduct.isna().sum()

ID                          0
Year_of_Birth               0
Education_Level             0
Marital_Status              0
Disposable_Income          16
No_of_Kids_in_home          0
No_of_Teen_in_home          0
Date_Customer               0
Recency                     0
Discounted_Purchases        0
WebPurchases                0
CatalogPurchases            0
StorePurchases              0
Amount_on_Wines             0
Amount_on_Fruits            0
Amount_on_MeatProducts      0
Amount_on_FishProducts      0
Amount_on_SweetProducts     0
Amount_on_GoldProds         0
WebVisitsMonth              0
Cmp3Accepted                0
Cmp4Accepted                0
Cmp5Accepted                0
Cmp1Accepted                0
Cmp2Accepted                0
Any_Complain                0
Response                    0
dtype: int64

In [22]:
cleandata=myproduct.dropna()
cleandata

,ID,Year_of_Birth,Education_Level,Marital_Status,Disposable_Income,No_of_Kids_in_home,No_of_Teen_in_home,Date_Customer,Recency,Discounted_Purchases,...,Amount_on_SweetProducts,Amount_on_GoldProds,WebVisitsMonth,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Cmp1Accepted,Cmp2Accepted,Any_Complain,Response
0,ID_4A9AR6FQ,1955,Graduation,Divorced,77504.4,1,1,22-06-2014,56,2,...,6,20,3,0,0,0,0,0,0,0
1,ID_X28T3VEK,1958,Graduation,Together,56784.0,0,1,01-08-2013,17,6,...,15,19,6,0,0,0,0,0,0,0
2,ID_AWXARH57,1962,Graduation,Single,103714.8,0,0,21-11-2013,17,0,...,18,37,2,0,0,0,1,0,0,1
3,ID_FQVZHE81,1979,2n Cycle,Single,46311.6,1,0,13-09-2013,49,3,...,24,24,8,0,0,0,0,0,0,0
4,ID_QVLWGPRN,1959,Graduation,Married,87486.0,0,0,21-01-2014,59,1,...,165,203,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,ID_XWINUFGG,1970,Graduation,Married,52893.6,1,1,19-06-2014,24,2,...,0,4,5,0,0,0,0,0,0,0
1564,ID_GLVIHZLR,1980,Graduation,Single,74190.0,0,1,07-08-2013,63,1,...,30,27,4,0,0,0,0,0,0,0
1565,ID_O11VSIJY,1952,Master,Married,80857.2,0,1,15-01-2013,74,4,...,0,70,7,0,1,0,0,0,0,0
1566,ID_VS37P6MS,1964,PhD,Single,58701.6,1,1,12-04-2014,28,2,...,0,1,4,0,0,0,0,0,0,0
1567,ID_AKHOY7EI,1970,Graduation,Together,27873.6,1,0,26-01-2014,78,2,...,1,0,8,0,0,0,0,0,0,0

In [23]:
wines=np.array(myproduct["Amount_on_Wines"])
wines

array([ 71, 205, 469, ..., 820,  57,  18], dtype=int64)

In [25]:
sumofwines=np.sum(wines)
sumofwines

475402

In [26]:
fruits=np.array(myproduct["Amount_on_Fruits"])

In [28]:
sumoffruits=np.sum(fruits)
sumoffruits

45615

In [30]:
meats=np.array(myproduct["Amount_on_MeatProducts"])
sumofmeats=np.sum(meats)
sumofmeats

264014

In [31]:
newarr=np.array(myproduct)

In [32]:
arr=newarr[:,[2,14,15,16]]
arr

array([['Graduation', 3, 16, 0],
       ['Graduation', 22, 111, 50],
       ['Graduation', 31, 873, 29],
       ...,
       ['Master', 11, 53, 11],
       ['PhD', 3, 9, 0],
       ['Graduation', 5, 18, 6]], dtype=object)

In [33]:
grafruitlist=[]
otherlist=[]
for x in arr:
    if x[0]=="Graduation":
        grafruitlist.append(x[1])
    else:
        otherlist.append(x[1])

In [34]:
edu[wines.argmax()]

'PhD'

In [35]:
edu[wines.argmin()]

'Basic'

In [36]:
sta[wines.argmax()]

'Married'

In [37]:
sta[wines.argmin()]

'Single'

In [38]:
year[wines.argmax()]

1950

In [39]:
year[wines.argmin()]

1992